.NavigationItem {
    color: white;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-weight: bold;
}

.NavigationItem a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

a.nav-link:hover,
a.nav-link:active,
.NavigationItem a.active {
    color: #ad9bb6;
    font-weight: bolder;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: inherit;
        border-bottom: 4px solid red;
        color: white;
    }
}